DB_STRING=
SESSION_SECRET=
APP_BASE_URL=http://localhost:3000
FRONTEND_APP_URL=http://localhost:5173
MARKETING_SITE_URL=http://localhost:4321
OAUTH_GOOGLE_CALLBACK_URL=
OAUTH_GITHUB_CALLBACK_URL=
OAUTH_FACEBOOK_CALLBACK_URL=
