body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

#signin {
  text-align: left;
}
.container {
  background-color: rgb(241, 240, 238);
  height: 100% !important;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

#ordering {
  align-items: center;
}
#buttonsToOrder {
  align-items: left;
  border: 1px solid black;
  padding: 5em;
  float: left;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

#ticket {
  align-items: left;
  border: 1px solid black;
  padding: 5em;
  display: block;
  float: right;
  margin-left: 2em;
  margin-right: 2em;
}
h1 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 3rem;
  color: rgb(223 137 37);
  padding-top: 0.5em;
}
.fill {
  min-height: 100%;
  height: 100%;
}

.hide {
  display: none;
}
.barista {
  font-size: 2em;
  color: rgb(223 137 37);
}
#barista {
  font-size: 2em;
  color: rgb(223 137 37);
}

label {
  font-weight: 500;
  font-size: 1.5em;
}

.orderInput {
  height: 3em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  display: block;
  align-items: center;
  background-color: rgb(196, 155, 99) !important;
  border: none !important;
  width: 20em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.completed {
  background-color: rgb(196, 155, 99);
  border: none;
  text-transform: uppercase;
  color: white;
}

ul {
  align-items: center;
  padding-bottom: 2em;
  margin: 0 auto;
  height: 15em;
  width: 25em;
}
li {
  margin-top: 2em;
  padding-left: 2em;
  text-align: left;
}

.clear {
  margin-bottom: 2em;
  text-transform: uppercase;
}

.box-bottom-shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
